<div>
    <div>
        <form action="" [formGroup]="signupForm">
            <fieldset>
                <legend>SignUP</legend>

                <!-- Email block -->
                <div class="form-group row">
                    <label for="inputEmail">Email</label>
                    <input class="col-sm-2 form-control-plantext" aria-describedby="emailHelp" 
                    type="text" name="email"
                    id="inputEmail" 
                    placeholder="Email" formControlName="email">
                </div>
                <div *ngIf="email?.invalid&&email?.touched">Email is invalid</div>

                <!-- Password block -->
                <div>
                    <div class="form-group row">
                        <label for="inputPassword">Password</label>
                        <input class="col-sm-2 form-control-plantext" type="password" name="password" id="inputPassword" placeholder="password" formControlName="password">
                    </div>
                    <div *ngIf="signupForm.controls.password.invalid&&signupForm.controls.password.touched">
                        <div *ngIf="password?.errors?.required">Password is mandetory</div>
                        <div *ngIf="password?.errors?.minlength">Password has to be min 6 chars</div>
                    </div>
                </div>
                <!-- Gender block -->
                <div class="form-group row">
                    <label for="selectGender">Gender</label>
                    <select class="col-sm-2 form-control-plantext" name="gender" id="selectGender" aria-placeholder="male">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="others">Others</option>
                    </select>
                </div>

                <!-- Country block -->
                <div class="form-group row">
                    <label for="inputCountry">Country</label>
                    <input class="col-sm-2 form-control-plantext" type="text" name="country" id="inputCountry" placeholder="country" formControlName="country">
                </div>
                <ul *ngFor="let k of keys;">
                    <li>{{k}}</li>
                </ul>

                <!-- code block -->
                <div class="form-group row">
                    <label for="inputCode">Code</label>
                    <input class="col-sm-2 form-control-plantext" type="text" name="code" id="inputCode" placeholder="Code" formControlName="code">
                </div>
                <div *ngIf="code?.errors?.invalidCode&&code?.touched">
                    <!-- error block -->
                    Code is invalid 
                </div>

                <!-- buttons -->
                <div style="display: inline;">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div style="display: inline;">
                    <button class="btn">Cancel</button>
                </div>
                
            </fieldset>
        </form>
    </div>
</div>

<!-- {{ signup.value| json }} -->
