#loginComponent_userName {
    margin: 10px auto;
}

#loginComponent_password{
    margin: 10px auto;
}

.loginForm {
    margin: auto;
    border: 1px solid rgba(110, 34, 21, 0.411);
    width: 30rem;   
    height: auto; 
}
#loginForm2 {
    border-top: 1px solid gainsboro;
    
}

form {
    height: 7rem;
}

h3 {
    height: 2rem;
}