<h3 class="loginForm">
    Login
</h3>


<form class="loginForm" id="loginForm2">
    <div id="loginComponent_userName"> 
        <label for="">
            Username:
        </label> 
        <input type="text" name="username" [(ngModel)]="username" /> 
    </div>
    
    <div id="loginComponent_password"> 
        <label for="">
            Enter password:
        </label> 
        <input type="password" name="password" id="" [(ngModel)]="password" /> 
    </div>

    <div> <label></label> <button (click)="login()">Login</button> </div>
</form>

Username value in the class: {{username}}
<!-- password value in the class: {{password}} -->
