<ul class="nav nav-pills justify-content-center">
    <li class="nav-item" role="presentation">
        <a class="nav-link" routerLink="login">Login</a> 
    </li>
    <li class="nav-item" role="presentation"> 
        <a class="nav-link" routerLink="products">Products</a> 
    </li>
    <li class="nav-item" role="presentation"> 
        <a class="nav-link" routerLink="inventory">Inventory</a> 
    </li>
    <li class="nav-item" role="presentation"> 
        <a class="nav-link" routerLink="users">Users</a> 
    </li>
    <li class="nav-item" role="presentation"> 
        <a class="nav-link" routerLink="cart">Cart</a> 
    </li>
    <li class="nav-item" role="presentation"> 
        <a class="nav-link" routerLink="reg">Registration</a> 
    </li>
</ul>